*{
    margin: 0;
    padding: 0;
    box-shadow: 0;
    font-family: sans-serif;
  

}

.group-top{
    
    margin: 8px;
    width: 702px;
    background-color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    
}



fieldset{
    border-radius: 20px;
    margin: 10px;
   
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(62, 136, 136);
    width: 100vw;
    height: 950px;
}

.group-form {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 700px;

}

input {
    margin: 1px;
    position: relative;
    bottom: 40px;
    left: 20px;
}
label{
    position: relative;
    bottom: 40px;
    left: 20px;
}


textarea{
    margin: 5px;
    position: relative;
    left: 22px;
    bottom: 20px;
}

h3{
    margin: 20px;

    font-size: 35px;
    padding: 10px;
    width: 640px;
   
}

h4{
    margin: 10px;
    position: relative;
    top: -10px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 224, 224);
    height: 113px;
}

p{
    color: black;
    text-align: center;
    font-size: 1.2rem;
    margin: 10px;
    
}